<section class="adventures py-5 position-relative text-center">
    <div class="overlay position-absolute inset-0"></div>
    <div class="container position-relative" style="z-index:1;">
        <h2 class="section-title mb-5">Have an Adventure Today</h2>
        <div class="row">

            <!-- Ліва велика картка -->
            <div class="col-md-6 mb-4">
                <div class="adventures__item adventures__item--large position-relative">
                    <img
                            src="assets/images/adventures/canal-cruise.png"
                            alt="Canal Cruise"
                            class="adventures__img"
                    >
                    <div class="adventures__info p-4">
                        <h5 class="adventures__title">Canal Cruise</h5>
                        <p class="adventures__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                        </p>
                        <a href="#" class="adventures__link">
                            <span class="adventures__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Права менша сітка 2×2 із gutter’ами -->
            <div class="col-md-6">
                <div class="row mx-n3">

                    <!-- Маленька картка 1 -->
                    <div class="col-sm-6 px-3 mb-4">
                        <div class="adventures__item adventures__item--small position-relative">
                            <img
                                    src="assets/images/adventures/sailing.png"
                                    alt="Sailing"
                                    class="adventures__img"
                            >
                            <div class="adventures__info p-3">
                                <h5 class="adventures__title">Sailing</h5>
                                <p class="adventures__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <a href="#" class="adventures__link">
                                    <span class="adventures__arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Маленька картка 2 -->
                    <div class="col-sm-6 px-3 mb-4">
                        <div class="adventures__item adventures__item--small position-relative">
                            <img
                                    src="assets/images/adventures/camping.png"
                                    alt="Camping"
                                    class="adventures__img"
                            >
                            <div class="adventures__info p-3">
                                <h5 class="adventures__title">Camping</h5>
                                <p class="adventures__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <a href="#" class="adventures__link">
                                    <span class="adventures__arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Маленька картка 3 -->
                    <div class="col-sm-6 px-3 mb-4">
                        <div class="adventures__item adventures__item--small position-relative">
                            <img
                                    src="assets/images/adventures/hiking.png"
                                    alt="Hiking"
                                    class="adventures__img"
                            >
                            <div class="adventures__info p-3">
                                <h5 class="adventures__title">Hiking</h5>
                                <p class="adventures__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <a href="#" class="adventures__link">
                                    <span class="adventures__arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Маленька картка 4 -->
                    <div class="col-sm-6 px-3 mb-4">
                        <div class="adventures__item adventures__item--small position-relative">
                            <img
                                    src="assets/images/adventures/scuba-diving.png"
                                    alt="Scuba Diving"
                                    class="adventures__img"
                            >
                            <div class="adventures__info p-3">
                                <h5 class="adventures__title">Scuba Diving</h5>
                                <p class="adventures__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <a href="#" class="adventures__link">
                                    <span class="adventures__arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>