<header class="header">
    <div class="header__top-bar">
        <div class="header__socials">
            <a href="#" class="header__social-link"> <img src="assets/images/mdi_instagram.png"></a>
            <a href="#" class="header__social-link"> <img src="assets/images/circum_twitter.png"></a>
            <a href="#" class="header__social-link"> <img src="assets/images/iconoir_facebook.png"></a>
        </div>
        <div class="header__contacts">
            <span class="header__phone">+1 234 456 678</span>
            <span class="header__separator">|</span>
            <span class="header__email">contact@traveltours.com</span>
        </div>
    </div>

    <!-- Навігація -->
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="header__menu-item"><a href="#" class="header__menu-link">Home</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Packages</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Tours</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">About Us</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Contact</a></li>
        </ul>
    </nav>
</header>