<section class="popular-destinations position-relative text-center">
    <div class="overlay position-absolute inset-0"></div>
    <div class="container py-5 position-relative" style="z-index:1;">
        <h2 class="mb-4">Popular Destinations</h2>
        <div class="swiper popular-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card border-0">
                        <img src="assets/images/cards/card_1.jpg" class="card-img-top" alt="Venice">
                        <div class="card-body">
                            <h5 class="card-title">Venice</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet…</p>
                            <span class="price">$199</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0">
                        <img src="assets/images/cards/card_2.jpg" class="card-img-top" alt="San Paolo">
                        <div class="card-body">
                            <h5 class="card-title">San Paolo</h5>
                            <p class="card-text">Lorem ipsum dolor sit…</p>
                            <span class="price">$249</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0">
                        <img src="assets/images/cards/card_3.jpg" class="card-img-top" alt="Barbados">
                        <div class="card-body">
                            <h5 class="card-title">Barbados</h5>
                            <p class="card-text">Lorem ipsum dolor sit…</p>
                            <span class="price">$299</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0">
                        <img src="assets/images/cards/card_4.jpg" class="card-img-top" alt="Cyprus">
                        <div class="card-body">
                            <h5 class="card-title">Cyprus</h5>
                            <p class="card-text">Lorem ipsum dolor sit…</p>
                            <span class="price">$239</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>