<section class="subscribe-award position-relative py-5">
  <div class="overlay position-absolute inset-0"></div>
  <div class="container position-relative" style="z-index:1;">
    <div class="row align-items-center">

      <!-- Newsletter -->
      <div class="col-lg-6 mb-4 pr-lg-4">
        <div class="subscribe-award__newsletter mx-auto">
          <h3 class="subscribe-award__newsletter-title mb-3">NEWSLETTER</h3>
          <p class="subscribe-award__newsletter-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit vulputate.
          </p>
          <form class="subscribe-award__form d-flex flex-column">
            <input type="text"
                   class="form-control mb-3"
                   placeholder="Your name"
                   required>
            <input type="email"
                   class="form-control mb-3"
                   placeholder="Your email address"
                   required>
            <button type="submit"
                    class="btn btn-primary">SUBSCRIBE</button>
          </form>
        </div>
      </div>

      <!-- Award Winning -->
      <div class="col-lg-6 pl-lg-4">
        <div class="subscribe-award__award">
          <h3 class="subscribe-award__award-title mb-3">Award Winning</h3>
          <p class="subscribe-award__award-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
          </p>
          <div class="row">
            <!-- Card 1 -->
            <div class="col-6">
              <div class="subscribe-award__card">
                <img src="assets/images/award/attractions.png"
                     alt="Top Attractions"
                     class="subscribe-award__card-img">
                <div>
                  <h6 class="subscribe-award__card-title">Attractions</h6>
                  <p class="subscribe-award__card-sub">Top 10 Attractions</p>
                </div>
              </div>
            </div>
            <!-- Card 2 -->
            <div class="col-6">
              <div class="subscribe-award__card">
                <img src="assets/images/award/hotels.png"
                     alt="Top Hotels"
                     class="subscribe-award__card-img">
                <div>
                  <h6 class="subscribe-award__card-title">Hotels</h6>
                  <p class="subscribe-award__card-sub">Top 10 Hotels</p>
                </div>
              </div>
            </div>
            <!-- Card 3 -->
            <div class="col-6">
              <div class="subscribe-award__card">
                <img src="assets/images/award/resorts.png"
                     alt="Top Resorts"
                     class="subscribe-award__card-img">
                <div>
                  <h6 class="subscribe-award__card-title">Resorts</h6>
                  <p class="subscribe-award__card-sub">Top 5 Resorts</p>
                </div>
              </div>
            </div>
            <!-- Card 4 -->
            <div class="col-6">
              <div class="subscribe-award__card">
                <img src="assets/images/award/landmarks.png"
                     alt="Top Landmarks"
                     class="subscribe-award__card-img">
                <div>
                  <h6 class="subscribe-award__card-title">Landmarks</h6>
                  <p class="subscribe-award__card-sub">Top 10 Landmarks</p>
                </div>
              </div>
            </div>
            <!-- Card 5 -->
            <div class="col-6">
              <div class="subscribe-award__card">
                <img src="assets/images/award/beaches.png"
                     alt="Top Beaches"
                     class="subscribe-award__card-img">
                <div>
                  <h6 class="subscribe-award__card-title">Beaches</h6>
                  <p class="subscribe-award__card-sub">Top 10 Beaches</p>
                </div>
              </div>
            </div>
            <!-- Card 6 -->
            <div class="col-6">
              <div class="subscribe-award__card">
                <img src="assets/images/award/islands.png"
                     alt="Top Islands"
                     class="subscribe-award__card-img">
                <div>
                  <h6 class="subscribe-award__card-title">Islands</h6>
                  <p class="subscribe-award__card-sub">Top 10 Islands</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>