<section class="why-us position-relative text-center">
    <div class="overlay position-absolute inset-0"></div>

    <div class="container position-relative" style="z-index:1;">
        <h2 class="section-title mb-4">Why Us?</h2>
        <div class="row justify-content-center">

            <!-- Картка 1 -->
            <div class="col-12 col-md-4 mb-4">
                <div class="why-us__card h-100 p-4 mx-auto text-center">
                    <div class="why-us__icon mb-3">
                        <i class="fas fa-award fa-2x"></i>
                    </div>
                    <h5 class="why-us__title mb-2">GUARANTEE</h5>
                    <p class="why-us__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>

            <!-- Картка 2 -->
            <div class="col-12 col-md-4 mb-4">
                <div class="why-us__card h-100 p-4 mx-auto text-center">
                    <div class="why-us__icon mb-3">
                        <i class="fas fa-concierge-bell fa-2x"></i>
                    </div>
                    <h5 class="why-us__title mb-2">SERVICE</h5>
                    <p class="why-us__text">
                        Nunc vulputate libero et velit interdum, ac aliquet odio.
                    </p>
                </div>
            </div>

            <!-- Картка 3 -->
            <div class="col-12 col-md-4 mb-4">
                <div class="why-us__card h-100 p-4 mx-auto text-center">
                    <div class="why-us__icon mb-3">
                        <i class="fas fa-user-check fa-2x"></i>
                    </div>
                    <h5 class="why-us__title mb-2">EXPERIENCE</h5>
                    <p class="why-us__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
