@use "./_variables.scss";
@use "./_base.scss";
@use "./_header.scss";
@use "./hero.scss";

.pal {
  font-weight: bold;
  font-size: 6px;
  color: #e21010;
}

.mb-4{
  font-size: 40px;
  margin-bottom: 4px;
  text-align: center;
  font-family: 'Grape Nuts', cursive;
}

.popular-destinations {
  .container {
    background: rgba(255,255,255,0.8);
    max-width: 100%;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 2.5rem;
  }
}
.popular-swiper {
  padding-bottom: 2rem;

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .card {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    text-align: left;

    .card-img-top {
      border-radius: .5rem .5rem 0 0;
      object-fit: cover;
      height: 180px;
    }

    .card-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
    }
  }
}