@use "./_variables.scss";
@use "./_base.scss";
@use "./_header.scss";
@use "./hero.scss";
@use "./_video.scss";
@use "./_why-us.scss";
@use "./_adventures.scss";
@use "./_subscribe-award.scss";
@use "./_cta.scss";
@use "./_footer.scss";

.mb-4{
  font-size: 40px;
  margin-bottom: 4px;
  text-align: center;
  font-family: 'Grape Nuts', cursive;
}

.popular-destinations {
  .container {
    background: rgba(255,255,255,0.8);
    max-width: 100%;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 2.5rem;
  }
}
.popular-swiper {
  /* щоб усі слайди вирівнювались по висоті контенту */
  .swiper-wrapper {
    align-items: stretch;
  }

  /* центрувати кожну картку в слайді */
  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  /* задати карточці повний контекст flex */
  .card {
    background: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 280px;   /* підлаштуй під свій дизайн */
  }

  /* картинка завжди одного розміру */
  .card-img-top {
    object-fit: cover;
    height: 180px;
  }

  /* тіло картки розтягується на всю висоту */
  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
